# Exercise: Descriptive Statistics

### Solve the following with `pandas` one-liners

**1. read `gapminder_lifeexpectancy.xlsx`**

In [37]:
import pandas as pd

life = pd.read_excel('../data/gapminder_lifeexpectancy.xlsx' , index_col=0)

**2. show the first 3 rows**

In [38]:
life.head()

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Life expectancy,,,,,,,,,,,,,,,,,,,,,
Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,28.21,28.20,28.19,28.18,28.17,28.16,28.15,28.14,28.13,28.12,...,52.4,52.8,53.3,53.6,54.0,54.4,54.8,54.9,53.8,52.72
Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albania,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,...,76.6,76.8,77.0,77.2,77.4,77.5,77.7,77.9,78.0,78.10
Algeria,28.82,28.82,28.82,28.82,28.82,28.82,28.82,28.82,28.82,28.82,...,75.3,75.5,75.7,76.0,76.1,76.2,76.3,76.3,76.4,76.50

In [10]:
life.head(3)

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Life expectancy,,,,,,,,,,,,,,,,,,,,,
Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,28.21,28.2,28.19,28.18,28.17,28.16,28.15,28.14,28.13,28.12,...,52.4,52.8,53.3,53.6,54.0,54.4,54.8,54.9,53.8,52.72
Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**3. filter out all years but 1960 and missing values**

In [18]:
#life.info()

<class 'pandas.core.series.Series'>
Index: 202 entries, Afghanistan to South Sudan
Series name: 1960
Non-Null Count  Dtype
--------------  -----
202 non-null    float64
dtypes: float64(1)
memory usage: 3.2+ KB

In [24]:
#life.isna().sum()

0

In [39]:
life.columns

Int64Index([1800, 1801, 1802, 1803, 1804, 1805, 1806, 1807, 1808, 1809,
            ...
            2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016],
           dtype='int64', length=217)

In [41]:
life = life[[1960]]
life

                        1960
Life expectancy
Abkhazia                 NaN
Afghanistan            31.94
Akrotiri and Dhekelia    NaN
Albania                62.87
Algeria                47.50
...                      ...
Yugoslavia               NaN
Zambia                 48.34
Zimbabwe               53.11
Åland                    NaN
South Sudan            34.61

[260 rows x 1 columns]

In [43]:
life = life[1960].dropna()
life

Life expectancy
Afghanistan              31.94
Albania                  62.87
Algeria                  47.50
Angola                   35.98
Antigua and Barbuda      62.97
                         ...
Virgin Islands (U.S.)    63.75
Yemen                    32.64
Zambia                   48.34
Zimbabwe                 53.11
South Sudan              34.61
Name: 1960, Length: 202, dtype: float64

**4. calculate the mean life expectancy**

In [44]:
mean = life.mean()
mean

54.73282178217823

**5. calculate the median**

In [46]:
median = life.median()
median

56.185

**6. calculate the standard deviation**

In [47]:
life.std()

11.689637178760742

**7. calculate the variance**

In [48]:
life.var()

136.64761737106542

**8. find the highest life expectancy**

In [49]:
life.max()

74.22

**9. find the lowest life expectancy**

In [50]:
life.min()

29.61

**10. find the 90% quantile**

In [55]:
#from scipy import stats
#stats.iqr(life)
life.quantile(0.90)

69.707

**11. store the number of data points in a variable**

In [67]:
number = life.shape[0]
#life.count()
#len(life)
number

202

**12. calculate min, max, mean and range (and possibly other descriptors) with a single line**

In [56]:
life.describe()

count    202.000000
mean      54.732822
std       11.689637
min       29.610000
25%       45.075000
50%       56.185000
75%       64.742500
max       74.220000
Name: 1960, dtype: float64