In [139]:
import pandas as pd

spices = ['One-Hot Chili Peppers',
          'Bayesian Basil',
          'Tensor Thyme',
          'Linear Lavender',
          'Artificial Neural Nutmeg',
          'Polynomial Peppermint',
          'Sigmoid Saffron'
          ]
participants = [2,6,9,9,9,8,10]

df = pd.DataFrame({'name':spices,
                   'participants':participants})

print(df.sort_values(by='participants', ascending=False))

print("\ntotal participants:", df['participants'].sum())

                       name  participants
6           Sigmoid Saffron            10
2              Tensor Thyme             9
3           Linear Lavender             9
4  Artificial Neural Nutmeg             9
5     Polynomial Peppermint             8
1            Bayesian Basil             6
0     One-Hot Chili Peppers             2

total participants: 53

Examine the file data/continents.csv:

In [140]:
import pandas as pd

1. read the file into a DataFrame

In [141]:
df = pd.read_csv('../pandas/continents.csv',sep=';')

2. display the number of rows and columns

In [142]:
df

         continent    country
0           Africa    Algeria
1           Africa     Angola
2           Africa      Benin
3           Africa   Botswana
4           Africa    Burkina
..             ...        ...
189  South America   Paraguay
190  South America       Peru
191  South America   Suriname
192  South America    Uruguay
193  South America  Venezuela

[194 rows x 2 columns]

3. display the first 5 countries in the alphabet

In [143]:
def get_initial(c):
    return c[0]

df['initial'] = df['country'].apply(get_initial)
df.head(5)

  continent   country initial
0    Africa   Algeria       A
1    Africa    Angola       A
2    Africa     Benin       B
3    Africa  Botswana       B
4    Africa   Burkina       B

4. which continent has the most countries?

In [144]:
df['continent'].value_counts()

Africa                   54
Europe                   47
Asia                     44
North America            23
Australia and Oceania    14
South America            12
Name: continent, dtype: int64

5. find out on which continent Cyprus is

In [145]:
df[df['country']=='Cyprus']

    continent country initial
108    Europe  Cyprus       C

define a DataFrame with all African countries

In [146]:
africa = df[df['continent']=='Africa']
africa

   continent                        country initial
0     Africa                        Algeria       A
1     Africa                         Angola       A
2     Africa                          Benin       B
3     Africa                       Botswana       B
4     Africa                        Burkina       B
5     Africa                        Burundi       B
6     Africa                       Cameroon       C
7     Africa                     Cape Verde       C
8     Africa       Central African Republic       C
9     Africa                           Chad       C
10    Africa                        Comoros       C
11    Africa                          Congo       C
12    Africa  Congo, Democratic Republic of       C
13    Africa                       Djibouti       D
14    Africa                          Egypt       E
15    Africa              Equatorial Guinea       E
16    Africa                        Eritrea       E
17    Africa                       Ethiopia       E
18    Africa                          Gabon       G
19    Africa                         Gambia       G
20    Africa                          Ghana       G
21    Africa                         Guinea       G
22    Africa                  Guinea-Bissau       G
23    Africa                    Ivory Coast       I
24    Africa                          Kenya       K
25    Africa                        Lesotho       L
26    Africa                        Liberia       L
27    Africa                          Libya       L
28    Africa                     Madagascar       M
29    Africa                         Malawi       M
30    Africa                           Mali       M
31    Africa                     Mauritania       M
32    Africa                      Mauritius       M
33    Africa                        Morocco       M
34    Africa                     Mozambique       M
35    Africa                        Namibia       N
36    Africa                          Niger       N
37    Africa                        Nigeria       N
38    Africa                         Rwanda       R
39    Africa          Sao Tome and Principe       S
40    Africa                        Senegal       S
41    Africa                     Seychelles       S
42    Africa                   Sierra Leone       S
43    Africa                        Somalia       S
44    Africa                   South Africa       S
45    Africa                    South Sudan       S
46    Africa                          Sudan       S
47    Africa                      Swaziland       S
48    Africa                       Tanzania       T
49    Africa                           Togo       T
50    Africa                        Tunisia       T
51    Africa                         Uganda       U
52    Africa                         Zambia       Z
53    Africa                       Zimbabwe       Z

define a DataFrame with countries 80 through 100

In [147]:
df.loc[80:100]

    continent               country initial
80       Asia                 Nepal       N
81       Asia                  Oman       O
82       Asia              Pakistan       P
83       Asia           Philippines       P
84       Asia                 Qatar       Q
85       Asia    Russian Federation       R
86       Asia          Saudi Arabia       S
87       Asia             Singapore       S
88       Asia             Sri Lanka       S
89       Asia                 Syria       S
90       Asia            Tajikistan       T
91       Asia              Thailand       T
92       Asia                Turkey       T
93       Asia          Turkmenistan       T
94       Asia  United Arab Emirates       U
95       Asia            Uzbekistan       U
96       Asia               Vietnam       V
97       Asia                 Yemen       Y
98     Europe               Albania       A
99     Europe               Andorra       A
100    Europe               Armenia       A

select every second country

In [160]:
da = df[['country']]
da.iloc[::2]

                      country
0                     Algeria
2                       Benin
4                     Burkina
6                    Cameroon
8    Central African Republic
..                        ...
184                    Brazil
186                  Colombia
188                    Guyana
190                      Peru
192                   Uruguay

[97 rows x 1 columns]

Project Milestone

In [ ]:
import pandas as pd 

life = pd.read_excel('data/gapminder_lifeexpectancy.xlsx' , index_col=0)
fert = pd.read_csv('data/gapminder_total_fertility.csv' , index_col=0)

In [ ]:
life

In [ ]:
fert

Draw a histogram

In [ ]:
type(life)

In [ ]:
lifeexp = life[[1950, 1975, 2000, 2015]]

In [ ]:
lifeexp

In [ ]:
import matplotlib.pyplot as plt

life[2015].hist()
plt.savefig('histo.png')

In [ ]:
life[1800].hist(bins=5)
plt.savefig('histo.png')

In [ ]:
life[1900].hist(bins=10)
plt.savefig('histo.png')

In [ ]:
plt.title('History of Population Growth')
plt.xlabel('Years')
plt.ylabel('Countries')
plt.axis([0.0, 60.0, 0.0, 10.0])
life[1900].hist(bins=20,facecolor='purple',alpha=0.75, histtype='bar')
plt.savefig('histo.svg', dpi=150)