In [29]:
import pandas as pd
import numpy as np

# machine-learning libraries
from sklearn.neighbors import NearestNeighbors
from sklearn.metrics import pairwise
from sklearn.metrics.pairwise import cosine_similarity

# miscellaneous
import pickle

In [30]:
movie_df = pd.read_csv('./data/ml-latest-small/movies.csv')
rating_df = pd.read_csv('./data/ml-latest-small/ratings.csv')
link_df = pd.read_csv('./data/ml-latest-small/links.csv')
tag_df = pd.read_csv('./data/ml-latest-small/tags.csv')

In [31]:
rating_df

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [32]:
rating_df = rating_df.rename(columns={'movieId': 'movie_id'})
movie_df = movie_df.rename(columns={'movieId': 'movie_id'})
rating_df = rating_df.rename(columns={'userId': 'user_id'})

In [33]:
# calculate the number of ratings per movie
rating_count = rating_df.groupby('movie_id')[['rating']].count()
rating_count

          rating
movie_id
1            215
2            110
3             52
4              7
5             49
...          ...
193581         1
193583         1
193585         1
193587         1
193609         1

[9724 rows x 1 columns]

In [34]:
# filter for movies with more than 20 ratings and extract the index
popular_movies = rating_count[rating_count['rating']>20].index
popular_movies

Int64Index([     1,      2,      3,      5,      6,      7,     10,     11,
                16,     17,
            ...
            122920, 122922, 134130, 134853, 139385, 148626, 152081, 164179,
            166528, 168252],
           dtype='int64', name='movie_id', length=1235)

In [35]:
# filter the ratings matrix and only keep the popular movies
df = rating_df[rating_df['movie_id'].isin(popular_movies)].copy()
df

        user_id  movie_id  rating   timestamp
0             1         1     4.0   964982703
1             1         3     4.0   964981247
2             1         6     4.0   964982224
3             1        47     5.0   964983815
4             1        50     5.0   964982931
...         ...       ...     ...         ...
100803      610    148626     4.0  1493847175
100808      610    152081     4.0  1493846503
100829      610    164179     5.0  1493845631
100830      610    166528     4.0  1493879365
100834      610    168252     5.0  1493846352

[66658 rows x 4 columns]

In [36]:
rating_df.shape, df.shape

((100836, 4), (66658, 4))

In [37]:
# need to remake user ids and movie ids since they are not sequential
user_ids = df['user_id'].unique()
user_ids

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234,
       235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
       248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
       261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
       274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286,
       287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299,
       300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312,
       313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325,
       326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338,
       339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351,
       352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364,
       365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377,
       378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390,
       391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403,
       404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416,
       417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429,
       430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442,
       443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455,
       456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468,
       469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481,
       482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494,
       495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507,
       508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520,
       521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533,
       534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546,
       547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559,
       560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572,
       573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585,
       586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598,
       599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610])

In [38]:
user_id_map = {v:k for k,v in enumerate(user_ids)}
df['user_id'] = df['user_id'].map(user_id_map)
df

        user_id  movie_id  rating   timestamp
0             0         1     4.0   964982703
1             0         3     4.0   964981247
2             0         6     4.0   964982224
3             0        47     5.0   964983815
4             0        50     5.0   964982931
...         ...       ...     ...         ...
100803      609    148626     4.0  1493847175
100808      609    152081     4.0  1493846503
100829      609    164179     5.0  1493845631
100830      609    166528     4.0  1493879365
100834      609    168252     5.0  1493846352

[66658 rows x 4 columns]

In [39]:
movie_df

,movie_id,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [40]:
#similarly for the movie_id:
movie_ids = df['movie_id'].unique()
movie_ids

array([   1,    3,    6, ..., 4247, 2986, 2013])

In [41]:
movie_id_map = {v:k for k,v in enumerate(movie_ids)}
df['movie_id'] = df['movie_id'].map(movie_id_map)
df

        user_id  movie_id  rating   timestamp
0             0         0     4.0   964982703
1             0         1     4.0   964981247
2             0         2     4.0   964982224
3             0         3     5.0   964983815
4             0         4     5.0   964982931
...         ...       ...     ...         ...
100803      609       808     4.0  1493847175
100808      609       643     4.0  1493846503
100829      609       809     5.0  1493845631
100830      609       644     4.0  1493879365
100834      609       810     5.0  1493846352

[66658 rows x 4 columns]

In [ ]:
#movie_id_map = {v:k for k,v in enumerate(movie_ids)}
#df['movie_id'] = df['movie_id'].map(movie_id_map)

#movie_id_map = {v:k for k,v in enumerate(movie_df['movie_id'].unique())}
#movie_df['movie_id'] =movie_df['movie_id'].map(movie_id_map)
#movie_df

In [42]:
#filter out unpopular movies
movies = movie_df[movie_df['movie_id'].isin(movie_ids)]
movies

,movie_id,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
...,...,...,...
9162,148626,"Big Short, The (2015)",Drama
9223,152081,Zootopia (2016),Action|Adventure|Animation|Children|Comedy
9392,164179,Arrival (2016),Sci-Fi
9433,166528,Rogue One: A Star Wars Story (2016),Action|Adventure|Fantasy|Sci-Fi
9463,168252,Logan (2017),Action|Sci-Fi

In [43]:
# redefine movie ids
movies['movie_id'] = movies['movie_id'].map(movie_id_map)
movies

/var/folders/ch/f6wpk76d1z90hnjk7lhgsmgc0000gp/T/ipykernel_37229/2301476842.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['movie_id'] = movies['movie_id'].map(movie_id_map)

,movie_id,title,genres
0,0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,325,Jumanji (1995),Adventure|Children|Fantasy
2,1,Grumpier Old Men (1995),Comedy|Romance
4,326,Father of the Bride Part II (1995),Comedy
5,2,Heat (1995),Action|Crime|Thriller
...,...,...,...
9162,808,"Big Short, The (2015)",Drama
9223,643,Zootopia (2016),Action|Adventure|Animation|Children|Comedy
9392,809,Arrival (2016),Sci-Fi
9433,644,Rogue One: A Star Wars Story (2016),Action|Adventure|Fantasy|Sci-Fi
9463,810,Logan (2017),Action|Sci-Fi

In [44]:
movie_title = movies.sort_values('movie_id')['title']
movie_title

0                     Toy Story (1995)
2              Grumpier Old Men (1995)
5                          Heat (1995)
43         Seven (a.k.a. Se7en) (1995)
46          Usual Suspects, The (1995)
                     ...
1435        Terms of Endearment (1983)
2968               Little Nicky (2000)
3158                   Joe Dirt (2001)
2249                  RoboCop 2 (1990)
1488    Poseidon Adventure, The (1972)
Name: title, Length: 1235, dtype: object

In [45]:
from scipy.sparse import csr_matrix
R = csr_matrix((df['rating'], (df['user_id'], df['movie_id'])))

In [46]:
R.shape

(610, 1235)

In [47]:
R.todense()

matrix([[4. , 4. , 4. , ..., 0. , 0. , 0. ],
        [0. , 0. , 0. , ..., 0. , 0. , 0. ],
        [0. , 0. , 0. , ..., 0. , 0. , 0. ],
        ...,
        [2.5, 2. , 0. , ..., 1. , 1.5, 0. ],
        [3. , 0. , 0. , ..., 0. , 0. , 0. ],
        [5. , 0. , 5. , ..., 3. , 0. , 0. ]])

In [49]:
Rating = pd.DataFrame(R.todense(), columns=movie_title)
Rating

title,Toy Story (1995),Grumpier Old Men (1995),Heat (1995),Seven (a.k.a. Se7en) (1995),"Usual Suspects, The (1995)",From Dusk Till Dawn (1996),Bottle Rocket (1996),Braveheart (1995),Rob Roy (1995),Desperado (1995),...,Freaky Friday (2003),Weekend at Bernie's (1989),"Darjeeling Limited, The (2007)","American Werewolf in London, An (1981)",eXistenZ (1999),Terms of Endearment (1983),Little Nicky (2000),Joe Dirt (2001),RoboCop 2 (1990),"Poseidon Adventure, The (1972)"
0,4.0,4.0,4.0,5.0,5.0,3.0,5.0,4.0,5.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4.0,0.0,0.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,2.5,0.0,0.0,3.0,4.5,4.0,0.0,3.5,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0
606,4.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,2.5,2.0,0.0,4.5,4.5,3.0,0.0,4.0,0.0,3.0,...,0.0,0.5,0.0,0.0,4.5,0.0,2.5,1.0,1.5,0.0
608,3.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,5.0,0.0,5.0,5.0,4.0,4.0,0.0,4.5,0.0,0.0,...,0.0,0.0,4.0,0.0,0.0,0.0,2.5,3.0,0.0,0.0

**Model**

In [50]:
# initialize the unsupervised model NearestNeighbors
model = NearestNeighbors(metric='cosine')

In [51]:
# fit it to the Ratings matrix
model.fit(R)

NearestNeighbors(metric='cosine')

**save model**

In [52]:
with open('./neighbour_recommender.pkl', 'wb') as file:
    pickle.dump(model, file)

<hr style="border:2px solid black">

## 3. Model Deployment

In [53]:
#load model

with open('./neighbour_recommender.pkl', 'rb') as file:
    model = pickle.load(file)

**receive a user query**

In [56]:
movie_title

0                     Toy Story (1995)
2              Grumpier Old Men (1995)
5                          Heat (1995)
43         Seven (a.k.a. Se7en) (1995)
46          Usual Suspects, The (1995)
                     ...
1435        Terms of Endearment (1983)
2968               Little Nicky (2000)
3158                   Joe Dirt (2001)
2249                  RoboCop 2 (1990)
1488    Poseidon Adventure, The (1972)
Name: title, Length: 1235, dtype: object

In [57]:
new_user_query = {'Toy Story (1995)': 1, 
                 'Joe Dirt (2001)':2, 
                 "Heat (1995)": 3.5 ,
                 "Little Nicky (2000)":5}

In [58]:
new_user_query

{'Toy Story (1995)': 1,
 'Joe Dirt (2001)': 2,
 'Heat (1995)': 3.5,
 'Little Nicky (2000)': 5}

**construct a user vector**

we need the same input as was used during training!

In [59]:
new_user_dataframe =  pd.DataFrame(new_user_query, columns=movie_title, index=['new_user'])
new_user_dataframe

title,Toy Story (1995),Grumpier Old Men (1995),Heat (1995),Seven (a.k.a. Se7en) (1995),"Usual Suspects, The (1995)",From Dusk Till Dawn (1996),Bottle Rocket (1996),Braveheart (1995),Rob Roy (1995),Desperado (1995),...,Freaky Friday (2003),Weekend at Bernie's (1989),"Darjeeling Limited, The (2007)","American Werewolf in London, An (1981)",eXistenZ (1999),Terms of Endearment (1983),Little Nicky (2000),Joe Dirt (2001),RoboCop 2 (1990),"Poseidon Adventure, The (1972)"
new_user,1,NaN,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5,2,NaN,NaN

In [60]:
# filling the missing values
new_user_dataframe_imputed = new_user_dataframe.fillna(0)
new_user_dataframe_imputed

title,Toy Story (1995),Grumpier Old Men (1995),Heat (1995),Seven (a.k.a. Se7en) (1995),"Usual Suspects, The (1995)",From Dusk Till Dawn (1996),Bottle Rocket (1996),Braveheart (1995),Rob Roy (1995),Desperado (1995),...,Freaky Friday (2003),Weekend at Bernie's (1989),"Darjeeling Limited, The (2007)","American Werewolf in London, An (1981)",eXistenZ (1999),Terms of Endearment (1983),Little Nicky (2000),Joe Dirt (2001),RoboCop 2 (1990),"Poseidon Adventure, The (1972)"
new_user,1,0,3.5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,5,2,0,0

**calculate the score**

1. find the neighborhood of $n$ similar users
2. use their ratings to calculate a score

In [61]:
# calculates the distances to all other users in the data!
similarity_scores, neighbor_ids = model.kneighbors(
    new_user_dataframe_imputed,
    n_neighbors=5,
    return_distance=True
)

/Users/Shivani/anaconda3/lib/python3.10/site-packages/sklearn/base.py:413: UserWarning: X has feature names, but NearestNeighbors was fitted without feature names
  warnings.warn(

In [62]:
# sklearn returns a list of predictions
# extract the first and only value of the list

neighbors_df = pd.DataFrame(
    data = {'neighbor_id': neighbor_ids[0], 'similarity_score': similarity_scores[0]}
)
neighbors_df

   neighbor_id  similarity_score
0          268          0.805273
1          388          0.854501
2          450          0.868485
3          120          0.872117
4          296          0.879355

In [63]:
# only look at ratings for users that are similar!
neighborhood = Rating.iloc[neighbor_ids[0]]
neighborhood

title,Toy Story (1995),Grumpier Old Men (1995),Heat (1995),Seven (a.k.a. Se7en) (1995),"Usual Suspects, The (1995)",From Dusk Till Dawn (1996),Bottle Rocket (1996),Braveheart (1995),Rob Roy (1995),Desperado (1995),...,Freaky Friday (2003),Weekend at Bernie's (1989),"Darjeeling Limited, The (2007)","American Werewolf in London, An (1981)",eXistenZ (1999),Terms of Endearment (1983),Little Nicky (2000),Joe Dirt (2001),RoboCop 2 (1990),"Poseidon Adventure, The (1972)"
268,5.0,4.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
388,5.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
450,5.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
120,4.0,0.0,5.0,3.0,0.0,0.0,0.0,4.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
296,0.0,0.0,5.0,4.0,5.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

**Filter seen movie**

In [64]:
new_user_query.keys()

dict_keys(['Toy Story (1995)', 'Joe Dirt (2001)', 'Heat (1995)', 'Little Nicky (2000)'])

In [65]:
neighborhood_filtered = neighborhood.drop(new_user_query.keys(), axis=1)
neighborhood_filtered

title,Grumpier Old Men (1995),Seven (a.k.a. Se7en) (1995),"Usual Suspects, The (1995)",From Dusk Till Dawn (1996),Bottle Rocket (1996),Braveheart (1995),Rob Roy (1995),Desperado (1995),Billy Madison (1995),Clerks (1994),...,Metropolis (1927),Babe: Pig in the City (1998),Freaky Friday (2003),Weekend at Bernie's (1989),"Darjeeling Limited, The (2007)","American Werewolf in London, An (1981)",eXistenZ (1999),Terms of Endearment (1983),RoboCop 2 (1990),"Poseidon Adventure, The (1972)"
268,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
388,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
450,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
120,0.0,3.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
296,0.0,4.0,5.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

**Calculate score**

In [66]:
# calculate the summed up rating for each movie
# summing up introduces a bias for popular movies
# averaging introduces bias for movies only seen by few users in the neighboorhood

df_score = neighborhood_filtered.sum()
df_score

title
Grumpier Old Men (1995)                   4.0
Seven (a.k.a. Se7en) (1995)               7.0
Usual Suspects, The (1995)                5.0
From Dusk Till Dawn (1996)                2.0
Bottle Rocket (1996)                      0.0
                                         ...
American Werewolf in London, An (1981)    0.0
eXistenZ (1999)                           0.0
Terms of Endearment (1983)                0.0
RoboCop 2 (1990)                          0.0
Poseidon Adventure, The (1972)            0.0
Length: 1231, dtype: float64

**Rank the movie**

In [67]:
df_score_ranked = df_score.sort_values(ascending=False).index.to_list()
df_score_ranked

['Leaving Las Vegas (1995)',
 'Independence Day (a.k.a. ID4) (1996)',
 'Rock, The (1996)',
 'Broken Arrow (1996)',
 'Father of the Bride Part II (1995)',
 'Twelve Monkeys (a.k.a. 12 Monkeys) (1995)',
 'Birdcage, The (1996)',
 'Executive Decision (1996)',
 'Ransom (1996)',
 'Fugitive, The (1993)',
 "Mr. Holland's Opus (1995)",
 'Eraser (1996)',
 'Mission: Impossible (1996)',
 'Time to Kill, A (1996)',
 'Silence of the Lambs, The (1991)',
 'Twister (1996)',
 'Sense and Sensibility (1995)',
 'Fargo (1996)',
 'Primal Fear (1996)',
 'Rumble in the Bronx (Hont faan kui) (1995)',
 'Willy Wonka & the Chocolate Factory (1971)',
 'Natural Born Killers (1994)',
 'Star Trek: First Contact (1996)',
 'Phenomenon (1996)',
 'Long Kiss Goodnight, The (1996)',
 'Clear and Present Danger (1994)',
 'River Wild, The (1994)',
 'Seven (a.k.a. Se7en) (1995)',
 'Striptease (1996)',
 'In the Line of Fire (1993)',
 'Firm, The (1993)',
 'Apollo 13 (1995)',
 'Cable Guy, The (1996)',
 'Disclosure (1994)',
 'Reservoir Dogs (1992)',
 'Copycat (1995)',
 'Casino (1995)',
 'Truth About Cats & Dogs, The (1996)',
 'Shawshank Redemption, The (1994)',
 'Big Lebowski, The (1998)',
 'Crimson Tide (1995)',
 'Speed (1994)',
 'Outbreak (1995)',
 'Nutty Professor, The (1996)',
 'Usual Suspects, The (1995)',
 'Star Wars: Episode IV - A New Hope (1977)',
 'Craft, The (1996)',
 'Spy Hard (1996)',
 'Multiplicity (1996)',
 "What's Eating Gilbert Grape (1993)",
 'Léon: The Professional (a.k.a. The Professional) (Léon) (1994)',
 'Cape Fear (1991)',
 'True Romance (1993)',
 'Dragonheart (1996)',
 'Trainspotting (1996)',
 "William Shakespeare's Romeo + Juliet (1996)",
 'Sleepless in Seattle (1993)',
 'Sling Blade (1996)',
 'Clueless (1995)',
 'Mystery Science Theater 3000: The Movie (1996)',
 'Happy Gilmore (1996)',
 'Face/Off (1997)',
 'American President, The (1995)',
 'Forget Paris (1995)',
 'Dave (1993)',
 'Bound (1996)',
 '101 Dalmatians (1996)',
 'Bio-Dome (1996)',
 'Tin Cup (1996)',
 'Hunchback of Notre Dame, The (1996)',
 'L.A. Confidential (1997)',
 'Grumpier Old Men (1995)',
 'Pulp Fiction (1994)',
 'James and the Giant Peach (1996)',
 'Forrest Gump (1994)',
 'Braveheart (1995)',
 'Desperado (1995)',
 'Dances with Wolves (1990)',
 'Sabrina (1995)',
 'Die Hard: With a Vengeance (1995)',
 'Terminator 2: Judgment Day (1991)',
 'Sgt. Bilko (1996)',
 'Femme Nikita, La (Nikita) (1990)',
 'Air Force One (1997)',
 'True Lies (1994)',
 'Pretty Woman (1990)',
 "Schindler's List (1993)",
 'Die Hard 2 (1990)',
 'Quiz Show (1994)',
 "The Devil's Advocate (1997)",
 'Basic Instinct (1992)',
 'Taxi Driver (1976)',
 'Hunt for Red October, The (1990)',
 'Interview with the Vampire: The Vampire Chronicles (1994)',
 'Ace Ventura: Pet Detective (1994)',
 'Legends of the Fall (1994)',
 'Hoop Dreams (1994)',
 'Nine Months (1995)',
 'Much Ado About Nothing (1993)',
 'Philadelphia (1993)',
 'Batman (1989)',
 'Stargate (1994)',
 'Nell (1994)',
 'Cliffhanger (1993)',
 'Beauty and the Beast (1991)',
 'I.Q. (1994)',
 'Crow, The (1994)',
 'Mulholland Falls (1996)',
 'From Dusk Till Dawn (1996)',
 "City Slickers II: The Legend of Curly's Gold (1994)",
 'So I Married an Axe Murderer (1993)',
 'Like Water for Chocolate (Como agua para chocolate) (1992)',
 'Coneheads (1993)',
 'Lawnmower Man, The (1992)',
 'Ace Ventura: When Nature Calls (1995)',
 'Conspiracy Theory (1997)',
 'Ghost (1990)',
 'Johnny Mnemonic (1995)',
 'Escape from L.A. (1996)',
 'Mortal Kombat (1995)',
 'Scream (1996)',
 'Net, The (1995)',
 'Arrival, The (1996)',
 'Madness of King George, The (1994)',
 'Hackers (1995)',
 'In & Out (1997)',
 'Saint, The (1997)',
 'Tomorrow Never Dies (1997)',
 'Dr. Dolittle (1998)',
 'Wag the Dog (1997)',
 'Liar Liar (1997)',
 'Lost in Space (1998)',
 'Michael (1996)',
 'Scream 2 (1997)',
 "My Best Friend's Wedding (1997)",
 'Alien: Resurrection (1997)',
 'Anaconda (1997)',
 'Stripes (1981)',
 'Sphere (1998)',
 'Batman & Robin (1997)',
 'Dark City (1998)',
 'Hercules (1997)',
 'Spawn (1997)',
 'Arsenic and Old Lace (1944)',
 'Raising Arizona (1987)',
 'Grease (1978)',
 'Beverly Hills Cop III (1994)',
 'Nightmare Before Christmas, The (1993)',
 'Heavy Metal (1981)',
 'Freaky Friday (2003)',
 'Kingpin (1996)',
 'Babe: Pig in the City (1998)',
 'Metropolis (1927)',
 'Vertigo (1958)',
 'Sabrina (1954)',
 'To Catch a Thief (1955)',
 'Angels in the Outfield (1994)',
 'All About Eve (1950)',
 'Escape from New York (1981)',
 'Army of Darkness (1993)',
 'Better Off Dead... (1985)',
 'Poltergeist (1982)',
 'Heathers (1989)',
 'Birds, The (1963)',
 "Dracula (Bram Stoker's Dracula) (1992)",
 'Carrie (1976)',
 'Driving Miss Daisy (1989)',
 'Star Trek VI: The Undiscovered Country (1991)',
 'Star Trek V: The Final Frontier (1989)',
 'Star Trek IV: The Voyage Home (1986)',
 'Young Guns (1988)',
 'Pi (1998)',
 'Man of Steel (2013)',
 'Gremlins (1984)',
 'Moonstruck (1987)',
 'Arachnophobia (1990)',
 'Blair Witch Project, The (1999)',
 'Inspector Gadget (1999)',
 'Deep Blue Sea (1999)',
 'Little Shop of Horrors (1986)',
 "Monty Python's And Now for Something Completely Different (1971)",
 'Christmas Story, A (1983)',
 'Stigmata (1999)',
 'Risky Business (1983)',
 'Cinema Paradiso (Nuovo cinema Paradiso) (1989)',
 'Time Bandits (1981)',
 'Bone Collector, The (1999)',
 'Adventures of Buckaroo Banzai Across the 8th Dimension, The (1984)',
 'Moonrise Kingdom (2012)',
 'Hocus Pocus (1993)',
 'Bridesmaids (2011)',
 'World Is Not Enough, The (1999)',
 'Scrooged (1988)',
 'Fatal Attraction (1987)',
 'Midnight Run (1988)',
 "Wayne's World 2 (1993)",
 'Buffy the Vampire Slayer (1992)',
 'Forever Young (1992)',
 'Whole Nine Yards, The (2000)',
 'Devil Wears Prada, The (2006)',
 'Bull Durham (1988)',
 'I Heart Huckabees (2004)',
 'Muppet Movie, The (1979)',
 'Tarzan (1999)',
 'Superman III (1983)',
 'Entrapment (1999)',
 'Analyze This (1999)',
 'Mighty Ducks, The (1992)',
 'L.A. Story (1991)',
 'Weird Science (1985)',
 'Dark Crystal, The (1982)',
 'Sixteen Candles (1984)',
 'Blade (1998)',
 'Cube (1997)',
 'Broadcast News (1987)',
 'Working Girl (1988)',
 'Say Anything... (1989)',
 'Antz (1998)',
 'My Cousin Vinny (1992)',
 'Pleasantville (1998)',
 'Waterboy, The (1998)',
 "Bug's Life, A (1998)",
 'Desperately Seeking Susan (1985)',
 'Reality Bites (1994)',
 'Fletch (1985)',
 'Money Pit, The (1986)',
 'Star Trek: Insurrection (1998)',
 'Prince of Egypt, The (1998)',
 'Shakespeare in Love (1998)',
 'Cocoon (1985)',
 "Christmas Vacation (National Lampoon's Christmas Vacation) (1989)",
 'Faculty, The (1998)',
 'Fly, The (1986)',
 'Blast from the Past (1999)',
 'Timecop (1994)',
 'The Revenant (2015)',
 'Judge Dredd (1995)',
 'Rocky III (1982)',
 'Panic Room (2002)',
 'Zoolander (2001)',
 'Scarface (1983)',
 'Scary Movie (2000)',
 'Chicken Run (2000)',
 'Modern Times (1936)',
 'eXistenZ (1999)',
 'Boondock Saints, The (2000)',
 'Bodyguard, The (1992)',
 'Sleepy Hollow (1999)',
 'Home Alone 2: Lost in New York (1992)',
 'Fistful of Dollars, A (Per un pugno di dollari) (1964)',
 "Ferris Bueller's Day Off (1986)",
 'American Pie (1999)',
 'Karate Kid, The (1984)',
 'Bourne Identity, The (2002)',
 'Transporter, The (2002)',
 'Bowling for Columbine (2002)',
 'Big Fish (2003)',
 'Team America: World Police (2004)',
 'Garden State (2004)',
 'Anchorman: The Legend of Ron Burgundy (2004)',
 'Day After Tomorrow, The (2004)',
 'Hellboy (2004)',
 'Good bye, Lenin! (2003)',
 "Monty Python's The Meaning of Life (1983)",
 'Ring, The (2002)',
 "All the President's Men (1976)",
 'Italian Job, The (2003)',
 'Bruce Almighty (2003)',
 'Anger Management (2003)',
 'Pianist, The (2002)',
 'Equilibrium (2002)',
 'Rocky IV (1985)',
 'Rocky II (1979)',
 'Muppet Treasure Island (1996)',
 'Rain Man (1988)',
 'For a Few Dollars More (Per qualche dollaro in più) (1965)',
 "White Men Can't Jump (1992)",
 'Trading Places (1983)',
 'Untouchables, The (1987)',
 'Star Trek III: The Search for Spock (1984)',
 'Sting, The (1973)',
 'Raging Bull (1980)',
 'Godfather: Part II, The (1974)',
 'Die Hard (1988)',
 'Toy Story 3 (2010)',
 "Pan's Labyrinth (Laberinto del fauno, El) (2006)",
 'Old Boy (2003)',
 'Eternal Sunshine of the Spotless Mind (2004)',
 'Nausicaä of the Valley of the Wind (Kaze no tani no Naushika) (1984)',
 'Laputa: Castle in the Sky (Tenkû no shiro Rapyuta) (1986)',
 "Bill & Ted's Excellent Adventure (1989)",
 'City of God (Cidade de Deus) (2002)',
 'Mystic River (2003)',
 'RoboCop 2 (1990)',
 'Jackie Brown (1997)',
 'Lost World: Jurassic Park, The (1997)',
 'Star Trek II: The Wrath of Khan (1982)',
 'Third Man, The (1949)',
 'Terms of Endearment (1983)',
 'Cool Runnings (1993)',
 'Demolition Man (1993)',
 "Howl's Moving Castle (Hauru no ugoku shiro) (2004)",
 "Carlito's Way (1993)",
 'True Grit (2010)',
 'Fighter, The (2010)',
 'Social Network, The (2010)',
 'Star Trek (2009)',
 'Wrestler, The (2008)',
 'American Werewolf in London, An (1981)',
 'The Machinist (2004)',
 'Charlie and the Chocolate Factory (2005)',
 "Hitchhiker's Guide to the Galaxy, The (2005)",
 'Hobbit: An Unexpected Journey, The (2012)',
 'Ted (2012)',
 'Sherlock Holmes: A Game of Shadows (2011)',
 'Captain America: The First Avenger (2011)',
 'Drive (2011)',
 'X-Men: First Class (2011)',
 'Pirates of the Caribbean: On Stranger Tides (2011)',
 'Thor (2011)',
 'Scott Pilgrim vs. the World (2010)',
 'Other Guys, The (2010)',
 'Iron Man 2 (2010)',
 'Kick-Ass (2010)',
 'Alice in Wonderland (2010)',
 'Hangover, The (2009)',
 'X-Men Origins: Wolverine (2009)',
 'Iron Man 3 (2013)',
 'Star Trek Into Darkness (2013)',
 'Now You See Me (2013)',
 'Guardians of the Galaxy 2 (2017)',
 'Pocahontas (1995)',
 'Logan (2017)',
 'Arrival (2016)',
 'Big Short, The (2015)',
 'Animal House (1978)',
 'Captain America: Civil War (2016)',
 'Ant-Man (2015)',
 'Thor: The Dark World (2013)',
 'Avengers: Age of Ultron (2015)',
 'The Hunger Games: Mockingjay - Part 1 (2014)',
 'The Imitation Game (2014)',
 'Birdman: Or (The Unexpected Virtue of Ignorance) (2014)',
 'X-Men: Days of Future Past (2014)',
 'The Hunger Games: Catching Fire (2013)',
 'Girl with the Dragon Tattoo, The (Män som hatar kvinnor) (2009)',
 "Dr. Horrible's Sing-Along Blog (2008)",
 'Curious Case of Benjamin Button, The (2008)',
 'Wallace & Gromit in The Curse of the Were-Rabbit (2005)',
 'Lucky Number Slevin (2006)',
 'Lives of Others, The (Das leben der Anderen) (2006)',
 'Inside Man (2006)',
 'V for Vendetta (2006)',
 'Ice Age 2: The Meltdown (2006)',
 'Kiss Kiss Bang Bang (2005)',
 'History of Violence, A (2005)',
 'Little Miss Sunshine (2006)',
 'Corpse Bride (2005)',
 'Aeon Flux (2005)',
 'Lord of War (2005)',
 'Serenity (2005)',
 'Fantastic Four (2005)',
 'Madagascar (2005)',
 "Pirates of the Caribbean: Dead Man's Chest (2006)",
 'Zodiac (2007)',
 'Zack and Miri Make a Porno (2008)',
 'Indiana Jones and the Kingdom of the Crystal Skull (2008)',
 'Watchmen (2009)',
 'Hancock (2008)',
 "Weekend at Bernie's (1989)",
 'Incredible Hulk, The (2008)',
 'Darjeeling Limited, The (2007)',
 'Kung Fu Panda (2008)',
 'In Bruges (2008)',
 "Pirates of the Caribbean: At World's End (2007)",
 'Sweeney Todd: The Demon Barber of Fleet Street (2007)',
 'American Gangster (2007)',
 'Into the Wild (2007)',
 'Simpsons Movie, The (2007)',
 'Transformers (2007)',
 'Live Free or Die Hard (2007)',
 'Thelma & Louise (1991)',
 'Serendipity (2001)',
 'Do the Right Thing (1989)',
 'King Kong (2005)',
 'Shooter (2007)',
 'Hot Fuzz (2007)',
 'Blood Diamond (2006)',
 'Borat: Cultural Learnings of America for Make Benefit Glorious Nation of Kazakhstan (2006)',
 'Babel (2006)',
 'Thank You for Smoking (2006)',
 'Crash (2004)',
 '3:10 to Yuma (2007)',
 'House of Flying Daggers (Shi mian mai fu) (2004)',
 'Shaun of the Dead (2004)',
 'Hero (Ying xiong) (2002)',
 'Bad Santa (2003)',
 'Scanner Darkly, A (2006)',
 '21 Grams (2003)',
 '1408 (2007)',
 "It's a Wonderful Life (1946)",
 'Boogie Nights (1997)',
 'To Wong Foo, Thanks for Everything! Julie Newmar (1995)',
 'Robin Hood: Prince of Thieves (1991)',
 'Napoleon Dynamite (2004)',
 'Welcome to the Dollhouse (1995)',
 'Three Colors: Blue (Trois couleurs: Bleu) (1993)',
 'Motorcycle Diaries, The (Diarios de motocicleta) (2004)',
 'Hudsucker Proxy, The (1994)',
 'Jerry Maguire (1996)',
 'Lawrence of Arabia (1962)',
 'Right Stuff, The (1983)',
 'Super 8 (2011)',
 'American Graffiti (1973)',
 'On the Waterfront (1954)',
 'U.S. Marshals (1998)',
 'Glory (1989)',
 'Master and Commander: The Far Side of the World (2003)',
 'Terminator 3: Rise of the Machines (2003)',
 'Phone Booth (2002)',
 'Illusionist, The (2006)',
 'Great Escape, The (1963)',
 'African Queen, The (1951)',
 'Midnight in Paris (2011)',
 'Tropic Thunder (2008)',
 'Pineapple Express (2008)',
 'Cloverfield (2008)',
 '40-Year-Old Virgin, The (2005)',
 'About Schmidt (2002)',
 'Constantine (2005)',
 'The Count of Monte Cristo (2002)',
 'Virgin Suicides, The (1999)',
 'Jewel of the Nile, The (1985)',
 'Triplets of Belleville, The (Les triplettes de Belleville) (2003)',
 "Amores Perros (Love's a Bitch) (2000)",
 'Ben-Hur (1959)',
 'Jaws (1975)',
 'Little Big Man (1970)',
 'People vs. Larry Flynt, The (1996)',
 'Day the Earth Stood Still, The (1951)',
 'Fried Green Tomatoes (1991)',
 'Dune (1984)',
 'Rounders (1998)',
 "Boys Don't Cry (1999)",
 'River Runs Through It, A (1992)',
 'Awakenings (1990)',
 'Backdraft (1991)',
 'Scent of a Woman (1992)',
 'Patriot Games (1992)',
 'Hoosiers (a.k.a. Best Shot) (1986)',
 'Evolution (2001)',
 'Black Hawk Down (2001)',
 'Private Parts (1997)',
 'Man in the Iron Mask, The (1998)',
 'Last Emperor, The (1987)',
 'Harold and Maude (1971)',
 'Spider-Man 3 (2007)',
 'Identity (2003)',
 'Cider House Rules, The (1999)',
 'Exorcist, The (1973)',
 'Omen, The (1976)',
 'Manhattan (1979)',
 'Argo (2012)',
 'Hurt Locker, The (2008)',
 '8 Mile (2002)',
 'Apartment, The (1960)',
 'Chronicles of Riddick, The (2004)',
 'Alien³ (a.k.a. Alien 3) (1992)',
 'Vanilla Sky (2001)',
 'Pay It Forward (2000)',
 'Planet Terror (2007)',
 'Evil Dead, The (1981)',
 'Simple Plan, A (1998)',
 'Doctor Zhivago (1965)',
 'Wanted (2008)',
 "Lemony Snicket's A Series of Unfortunate Events (2004)",
 'League of Extraordinary Gentlemen, The (a.k.a. LXG) (2003)',
 'Network (1976)',
 'Dangerous Liaisons (1988)',
 'Player, The (1992)',
 'Out of Sight (1998)',
 'Roman Holiday (1953)',
 'Snowpiercer (2013)',
 'Strange Days (1995)',
 'Gandhi (1982)',
 'Repo Man (1984)',
 'Halloween (1978)',
 'Return of the Pink Panther, The (1975)',
 "National Lampoon's Van Wilder (2002)",
 'Patch Adams (1998)',
 'Addams Family, The (1991)',
 'Matchstick Men (2003)',
 'Silver Linings Playbook (2012)',
 'Cabin in the Woods, The (2012)',
 'Horrible Bosses (2011)',
 'Harry Potter and the Order of the Phoenix (2007)',
 '13 Going on 30 (2004)',
 'Along Came Polly (2004)',
 'Shallow Hal (2001)',
 'Roger & Me (1989)',
 'Bedazzled (2000)',
 'Beach, The (2000)',
 'Brady Bunch Movie, The (1995)',
 'Dog Day Afternoon (1975)',
 'Mr. Deeds (2002)',
 'October Sky (1999)',
 'Drop Zone (1994)',
 'Airheads (1994)',
 'Battle Royale (Batoru rowaiaru) (2000)',
 "Romy and Michele's High School Reunion (1997)",
 'Big Chill, The (1983)',
 'Pushing Tin (1999)',
 "National Lampoon's Vacation (1983)",
 'Mickey Blue Eyes (1999)',
 'Deliverance (1972)',
 'Three Kings (1999)',
 'Natural, The (1984)',
 'Girl, Interrupted (1999)',
 'Boiler Room (2000)',
 'Caddyshack (1980)',
 'City Slickers (1991)',
 'Tootsie (1982)',
 'RoboCop 3 (1993)',
 'Life Aquatic with Steve Zissou, The (2004)',
 'Fear and Loathing in Las Vegas (1998)',
 'Close Encounters of the Third Kind (1977)',
 'Old School (2003)',
 'American Pie 2 (2001)',
 'Jurassic Park III (2001)',
 'Final Fantasy: The Spirits Within (2001)',
 'And Your Mother Too (Y tu mamá también) (2001)',
 'Fast and the Furious, The (2001)',
 '25th Hour (2002)',
 'Bend It Like Beckham (2002)',
 'Lost Boys, The (1987)',
 'Elf (2003)',
 'Lara Croft: Tomb Raider (2001)',
 'Donnie Darko (2001)',
 'Swordfish (2001)',
 'Underworld (2003)',
 'WarGames (1983)',
 'Jay and Silent Bob Strike Back (2001)',
 'Training Day (2001)',
 'Police Academy (1984)',
 'Time Machine, The (2002)',
 'Daredevil (2003)',
 'Red Dragon (2002)',
 'Insomnia (2002)',
 'The Scorpion King (2002)',
 'My Big Fat Greek Wedding (2002)',
 'Blade II (2002)',
 'Super Troopers (2001)',
 'Mulholland Drive (2001)',
 'Sandlot, The (1993)',
 'Gosford Park (2001)',
 'Night of the Living Dead (1968)',
 'Family Man, The (2000)',
 'Royal Tenenbaums, The (2001)',
 'Spy Game (2001)',
 'Starsky & Hutch (2004)',
 "Knight's Tale, A (2001)",
 'Ever After: A Cinderella Story (1998)',
 'Van Helsing (2004)',
 'Hollow Man (2000)',
 'Coyote Ugly (2000)',
 'Me, Myself & Irene (2000)',
 'Titan A.E. (2000)',
 'Moneyball (2011)',
 'Lilo & Stitch (2002)',
 'Mad Max Beyond Thunderdome (1985)',
 'Mummy Returns, The (2001)',
 'Running Man, The (1987)',
 "Pee-wee's Big Adventure (1985)",
 'Keeping the Faith (2000)',
 '28 Days (2000)',
 'Harold and Kumar Go to White Castle (2004)',
 "Jacob's Ladder (1990)",
 'Cinderella (1950)',
 'Scary Movie 2 (2001)',
 'Sound of Music, The (1965)',
 'Mask of Zorro, The (1998)',
 'Wedding Planner, The (2001)',
 'Peter Pan (1953)',
 'Teenage Mutant Ninja Turtles (1990)',
 'Perfect Storm, The (2000)',
 'Meet the Parents (2000)',
 'How the Grinch Stole Christmas (a.k.a. The Grinch) (2000)',
 "Emperor's New Groove, The (2000)",
 'Finding Forrester (2000)',
 "Dude, Where's My Car? (2000)",
 'Miss Congeniality (2000)',
 'Mexican, The (2001)',
 'Spy Kids (2001)',
 'Crocodile Dundee II (1988)',
 'View to a Kill, A (1985)',
 'First Blood (Rambo: First Blood) (1982)',
 'Midnight in the Garden of Good and Evil (1997)',
 'Insider, The (1999)',
 'Million Dollar Baby (2004)',
 'Fahrenheit 9/11 (2004)',
 'Super Size Me (2004)',
 'Lost in Translation (2003)',
 'Punch-Drunk Love (2002)',
 'Secretary (2002)',
 "Rosemary's Baby (1968)",
 'Brokeback Mountain (2005)',
 'French Connection, The (1971)',
 'Midnight Cowboy (1969)',
 'Jurassic World (2015)',
 'Big Hero 6 (2014)',
 'The Lego Movie (2014)',
 'Her (2013)',
 'Broken Flowers (2005)',
 'Munich (2005)',
 'Runaway Bride (1999)',
 'Burn After Reading (2008)',
 'Akira (1988)',
 'Boot, Das (Boat, The) (1981)',
 'Delicatessen (1991)',
 'Ghost in the Shell (Kôkaku kidôtai) (1995)',
 'City of Lost Children, The (Cité des enfants perdus, La) (1995)',
 'Coraline (2009)',
 '28 Weeks Later (2007)',
 'Stranger than Fiction (2006)',
 'There Will Be Blood (2007)',
 'Stardust (2007)',
 'No Country for Old Men (2007)',
 'Superbad (2007)',
 'Death Proof (2007)',
 'Grindhouse (2007)',
 "We're the Millers (2013)",
 'Wreck-It Ralph (2012)',
 '21 Jump Street (2012)',
 'Rush Hour 2 (2001)',
 'Chronicles of Narnia: The Lion, the Witch and the Wardrobe, The (2005)',
 'Harry Potter and the Goblet of Fire (2005)',
 'Wedding Crashers (2005)',
 'Meet the Fockers (2004)',
 "Charlie's Angels: Full Throttle (2003)",
 'Resident Evil (2002)',
 'Coming to America (1988)',
 'Mission: Impossible - Ghost Protocol (2011)',
 'Beverly Hills Cop (1984)',
 'Diamonds Are Forever (1971)',
 'Naked Gun: From the Files of Police Squad!, The (1988)',
 'Predator 2 (1990)',
 'Moonraker (1979)',
 'For Your Eyes Only (1981)',
 'Mission: Impossible III (2006)',
 'Da Vinci Code, The (2006)',
 'Click (2006)',
 'Night at the Museum (2006)',
 'Knocked Up (2007)',
 'Shrek the Third (2007)',
 "Ocean's Thirteen (2007)",
 'National Treasure: Book of Secrets (2007)',
 'Forgetting Sarah Marshall (2008)',
 'Taken (2008)',
 'Slumdog Millionaire (2008)',
 'Blind Side, The  (2009)',
 'How to Train Your Dragon (2010)',
 'Black Swan (2010)',
 'Harry Potter and the Deathly Hallows: Part 1 (2010)',
 'Harry Potter and the Deathly Hallows: Part 2 (2011)',
 'Rise of the Planet of the Apes (2011)',
 "Amelie (Fabuleux destin d'Amélie Poulain, Le) (2001)",
 'I Am Legend (2007)',
 'Man on the Moon (1999)',
 '2012 (2009)',
 'Heavenly Creatures (1994)',
 'Before Sunrise (1995)',
 'Postman, The (Postino, Il) (1994)',
 'Mighty Aphrodite (1995)',

**Recommendations**

In [68]:
recommendations = df_score_ranked[:3]
recommendations

['Leaving Las Vegas (1995)',
 'Independence Day (a.k.a. ID4) (1996)',
 'Rock, The (1996)']